/* -- レイアウト -- */

/* 基本設定 */
* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.menu {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    @media screen and (900px <= width) {
        .menu {
            width: 40%;
        }
    }

    @media screen and not (900px <= width) {
        .menu {
            width: 80%;
        }
    }

    .menu .logInMessage {
        border: 1px solid red;
        border-radius: 8px;
        background-color: rgba(255, 0, 0, 0.3);
        margin: 2%;
    }

        .menu .logInMessage p {
            font-family: Zen Maru Gothic, sans-serif;
            font-size: 0.8em;
            color: red;
            text-align: center;
            padding: 0.5em 1em 0.5em 1em;
            margin: 0;
        }

    .menu form {
        font-family: F1_8, Zen Maru Gothic, sans-serif;
    }

        .menu form p {
            margin: 0 0 5px 0;
        }

        .menu form input {
            margin: 5px 0 10% 0;
        }

        .menu form #logIn {
            position: relative;
            transform: translate(-50%, -50%);
            margin: 7.5vh 50% auto 50%;
            padding: 8px 18px 8px 18px;
            width: max-content;
            text-align: center;
            font-size: 1.2em;
            font-family: "ヒラギノ角ゴシック", "Noto Sans JP", "Yu Gothic UI", sans-serif;
            font-weight: bold;
            letter-spacing: 0.1em;
            border-radius: 25px;
            background-color: rgb(0, 191, 255);
            box-shadow: 0px 0px 20px 0px rgba(0, 150, 255, 0.4);
            border-width: 0;
            cursor: pointer;
        }

/* -- フォント -- */
/* LINE Seed JP Family */
@font-face {
    font-family: "LINE Seed JP";
    src: url(../fonts/LINE_Seed_JP/LINESeedJP_OTF_Th.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(../fonts/LINE_Seed_JP/LINESeedJP_OTF_Rg.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(../fonts/LINE_Seed_JP/LINESeedJP_OTF_Bd.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(../fonts/LINE_Seed_JP/LINESeedJP_OTF_Eb.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}

/* Makinas 4 */
@font-face {
    font-family: "Makinas 4 Flat";
    src: url(../fonts/makinas4/Makinas-4-Flat.otf) format("opentype");
}