<!DOCTYPE html>
<html>
    <head>
        <title><%= userId %>さんのホーム | ROOTINE</title>
        <link rel="stylesheet" href="/stylesheets/home.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <header>
            <div><img class="logo" src="/images/ROOTINE_logo_color.png"/></div>
            <div><p><%= userId %></p></div>
            <div></div>
        </header>
    </body>
</html>