<!DOCTYPE html>
<html>
  <head>
    <title>ROOTINE | 高専祭模擬店運営アシストアプリ</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <!-- トップ画面 -->
    <div class="top">
      <div class="leftObject caption">
        <p><span class="strong">ROOTINE</span>で</p>
        <p>巡ってゆく、</p>
        <p>私達の高専祭。</p>
      </div>
      <div class="appIcon">
        <button id="logIn">ログイン</button>
      </div>
    </div>
    <!-- 機能紹介画面 -->
    <div class="functions">
      <div class="leftObject caption">
        <p><span class="strong">注文</span>状況</p>
      </div>
      <div class="leftObject caption">
        <p><span class="strong">商品</span>登録</p>
      </div>
      <div class="leftObject caption">
        <p><span class="strong">売上</span>計算</p>
      </div>
      <div class="verticalText rightObject phrase">
        <p>多勢を捌く。</p>
      </div>
      <div class="overview">
        <p>
          販売する商品の情報を登録し、当日の注文状況や売上を記録することができます。<br>
          さらに、現実の「整理券」と連動させることで、注文履歴や受け渡し状況をリアルタイムで把握できます。
        </p>
      </div>
    </div>
    <!-- 共有機能紹介画面 -->
    <div class="cooperations">
      
    </div>
  </body>
</html>
