<!DOCTYPE html>
<html>
<head>
  <title>ROOTINE | 高専祭模擬店運営アシストアプリ</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel="stylesheet" href="/libraries/particles.js/myParticles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <main>
    <!-- トップ画面 -->
    <div class="top">
      <div class="leftObject caption">
        <p><span class="strong">ROOTINE</span>で</p>
        <p>巡ってゆく、</p>
        <p>私達の高専祭。</p>
      </div>
      <div class="appIcon">
        <button id="logIn" onclick="location.href='login'">ログイン</button>
      </div>
    </div>
    <!-- 機能紹介画面 -->
    <div class="functions">
      <div class="leftObject caption">
        <p><span class="strong">商品</span>登録</p>
      </div>
      <div class="leftObject caption">
        <p><span class="strong">売上</span>集計</p>
      </div>
      <div class="leftObject caption">
        <p><span class="strong">整理券</span>連動</p>
      </div>
      <div class="verticalText rightObject phrase">
        <p>仕事よ舞え。</p>
      </div>
      <div class="overview">
        <p>
          販売する商品の情報を登録し、当日の注文状況や売上を記録することができます。<br>
          さらに、現実の「整理券」と連動させることで、注文管理を体系化できます。
        </p>
      </div>
    </div>
    <!-- 共有機能紹介画面 -->
    <div class="cooperations">
      <div class="rightObject caption">
        <p><span class="strong">注文</span>状況</p>
      </div>
      <div class="rightObject caption">
        <p><span class="strong">売上</span>状況</p>
      </div>
      <div class="rightObject caption">
        <p><span class="strong">シフト</span>管理</p>
      </div>
      <div class="verticalText leftObject phrase">
        <p>｢今｣を共に。</p>
      </div>
      <div class="overview">
        <p>
          各クラスに１つ用意した共用アカウントでログインすれば、模擬店担当でなくても現在の状況を確認できます。<br>
          また、シフト管理などみんなで共有できる様々な便利機能を用意しています。
        </p>
      </div>
    </div>
    <footer>
      <p>ROOTINE</p>
      <P>© 2024 ICT Science Club@NIT, Kure Collage</P>
    </footer>
  </main>
  <div id="particles-js"></div>

  <script src="/libraries/particles.js/particles.min.js"></script>
  <script src="/libraries/particles.js/myParticles.js"></script>
  
</body>
</html>